#geet {
    color:#8e6416db;
    padding:0.5%;
    font-size: 20px;
    font-weight: 400;
    align-items: center;
    }
    #geet span {
        color :rgba(230, 82, 8, 0.89);
    }
    #left{
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        
     }
    #alcher {
        display: flex;
    }
    #alcher img {
        height: 40px;
        width: 40px;
    }
    #top{
        padding-left: 45px;
    }

#main {
    display: flex;
    flex-direction: column;
    height: 90%;
   font-family: sans-serif;

}
#mid {
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    height: 90%;
}
    /* right/ */
    #right {
    
        background-color: white;
        height: 550px;
        width: 300px;
        margin-top: 80px;
        display: flex;
        flex-direction: column;
        box-shadow:   5px 5px 5px #9d9c98a2;
        border-radius: 15px;
    }  
    #for {
        padding-right: 15px;
        padding-left: 15px;
        width: 300px;
        display: flex;
        height: 250px;
        flex-direction: column;
        box-sizing: border-box;
        padding-top: 10px;
    }
    #submit {
        margin-top: 5px;
        margin-bottom: 5px;
       font-size: 25px;
       border-radius: 5px;
       border: white outset 10px;
    }
    
     #submit {
        margin-top: 40px;
     }
     #account span a {
        text-decoration: none;
     }
    #account span a:hover {
   opacity: 0.8;
    
      }
      #submit a {
        text-decoration: none;
      }
      #submit a:hover {
        text-decoration: none;
        color: orange;
     
      }
      #input {
        height: 130px;
        width: 300px;
        background-image:linear-gradient(to right,rgb(233, 142, 109),orangered) ; 
        padding-top: 50px; 
        display: flex;
        flex-direction: row;
        font-size: 25px;
        padding-right: 16px;
        padding-left: 15px;
        border-radius: 15px 15px 0px 0px;
        color:white;
        box-sizing: border-box;
        justify-content: space-between;
        box-shadow:   5px 10px 5px #9d9c98a2;

        -moz-box-shadow:0px 0 5px #9d9c98a2;
        -webkit-box-shadow:1px 0 5px;
        -o-box-shadow:0px 0 5px #9d9c98a2;
    }
   
  
    #account img {
        height: 40px;
        width: 40px;
        border-radius: 25px;
        margin-top: -10px;
        border:white solid 7px; 
    }
 #img3{
display: flex;
margin-top: 30px;
 }
 #img4{
    height:60px  ;
    width : 60px;
    border-radius: 30px;
    margin-top: 5px;
    margin-right: 20px;
 }
 #img5{
display: flex;
flex-direction: column;
margin-top: 20px;
 margin-left: 3px;
 font-weight: 200;
 }
 #lorem{
    margin-top: 25px;
    font-size: 16px;
 }
 .jj{
    height:30px  ;
    width : 30px;
    /* border-radius: 30px; */
    /* margin-left: -7px; */
    margin-right: 5px;
 }
 #gg  {
    height:25px  ;
    width : 25px;
    margin-right: 5px;
 }
 .logoo a{
    color: black;
    text-decoration: none;
    display: flex;
    justify-items: center;
    height: 40px;
 }
 #h {
    margin-top: 50px;
 }
 .logoo {
    margin-top: 5px;
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-bottom: 10px;
 }
 .ww {
   
        margin-top: 5px;
        margin-left: 8px;
     
 }
 #kaa{
    display: flex;
     flex-direction: column;
     
 }
 .clas{
    padding-left: 15px;
    display: flex;
    align-content: center;
 }
 #jjw {
    margin-top: -50px;
    display: flex;
    align-content: center;
    color: black;
    text-decoration: none;
    font-size: 20px;
 }
 #box {
    box-shadow: 6px 6px 5px #9d9c98a2;

    border: #9d9c98a2 solid 2px;
    padding :30px;
    width: 600px;
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    margin-top: 30px;
    border-radius: 15px;
 }
#box2{
    border: #9d9c98a2 solid 2px;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 15px;
    
    font-size: 45px;
    color: #9d9c98a2;
}
#kkkk {
    margin-top: 5px;
    font-size: 22px;
    margin-bottom: 10px;
}
#box3{
    border: #9d9c98a2 solid 2px;
    height: 20%;
    display: flex;
  padding-top: 10px;
    margin-top: 10px;
    border-radius: 15px;
    color: #9d9c98a2;
    padding-left: 5px;
    font-size: 20px;
}
#qq button {
width: 600px;
display: flex;
justify-content: center;
height: 50px;
font-size: 32px;
padding-top: 5px;
border-radius: 15px;
}
#left b {
    font-size: 30px;
}
#ty {
    font-size: 25px;
     /* color: #9d9c98a2; */
}
#qm {
    margin-top: -50px;
 }
 button {
    margin-top: 20px;

    color: #9d9c98a2;
border: #9d9c98a2 solid 1px;


 }
 button:hover {
    color: orange;
border: orange solid 2px;
    
 } 