#geet {
    color:#8e6416db;
    padding:0.5%;
    font-size: 20px;
    font-weight: 400;
    align-items: center;
    }
    #geet span {
        color :rgba(230, 82, 8, 0.89);
    }
    #alcher {
        display: flex;
    }
    #alcher img {
        height: 40px;
        width: 40px;
    }
    #top{
        padding-left: 45px;
    }
    #mid {
        margin-top: 50px;
   font-family: sans-serif;

    }

    #mypost{
        display: flex;
     padding-left: 50px;
     font-size: 25px;
     font-weight: 500;
    }
    #mypost  span {
margin-left: 85%;
    }
    #mypost  span a {
        color:rgb(148, 130, 133);
        text-decoration: none;
    }
    .pic {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 50px;
        margin-left: 50px;
    }
    .div1 {
        display: flex;
        flex-direction: column;
        height: 350px;
        width:500px;
        margin-right: 50px;
        margin-left: 60px;
        margin-bottom: 20px;
    }
  
    #hww {
        height: 300px;
        width:100%; 
    }
    .oii {
        font-weight: 400;
        font-size: 22px;
      display: flex;
      align-items: center;
    }
    .qq {
        height: 35px;
        width : 35px;
        padding-bottom: 5px;
        padding-top: 5px;
    
     
    }
     .jj{
    height:30px  ;
    width : 30px;

    margin-right: -2px;
 }