#geet {
    color:#636260db;
    padding:0.5%;
    font-size: 20px;
    font-weight: 400;
    align-items: center;
    }
    #geet span {
        color :rgba(230, 82, 8, 0.89);
    }
    #alcher {
        display: flex;
    }
    #alcher img {
        height: 40px;
        width: 40px;
    }
    #top{
        padding-left: 45px;
    }

#main {
    display: flex;
    flex-direction: column;
   font-family: sans-serif;

}
#mid {
   padding-left: 100px;
   padding-right: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
    /* right/ */
    #right {
      box-shadow:   5px 10px 5px #9d9c98a2;
    
        background-color: white;
        height: 550px;
        width: 300px;
        margin-top: 80px;
        display: flex;
        flex-direction: column;
        box-shadow:   5px 5px 5px #9d9c98a2;
        border-radius: 15px;

    }  
    #for {
        padding-right: 15px;
        padding-left: 15px;
        width: 300px;
        display: flex;
        height: 250px;
        flex-direction: column;
        box-sizing: border-box;
        padding-top: 10px;
    }
    #submit {
        margin-top: 5px;
        margin-bottom: 5px;
       font-size: 25px;
       border-radius: 5px;
       border: white outset 10px;
    }
    
     #submit {
        margin-top: 40px;
     }
     #account span a {
        text-decoration: none;
     }
    #account span a:hover {
   opacity: 0.8;
    
      }
      #submit a {
        text-decoration: none;
      }
    
  
    
      #submit a:hover {
        text-decoration: none;
        color: orange;
     
      }
      #input {
        height: 130px;
        width: 300px;
        background-image:linear-gradient(to right,rgb(233, 142, 109),orangered) ; 
        padding-top: 50px; 
        display: flex;
        flex-direction: row;
        font-size: 25px;
        padding-right: 16px;
        padding-left: 15px;
        border-radius: 15px 15px 0px 0px;
        color:white;
        box-sizing: border-box;
        justify-content: space-between;
    }
   
  
    #account img {
        height: 40px;
        width: 40px;
        border-radius: 25px;
        margin-top: -10px;
        border:white solid 7px; 
    }
      
   
 #img3{
display: flex;
margin-top: 30px;
 }
 #img4{
    height:60px  ;
    width : 60px;
    border-radius: 30px;
    margin-top: 5px;
    margin-right: 20px;
 }
 #img5{
display: flex;
flex-direction: column;
margin-top: 20px;
 margin-left: 3px;
 font-weight: 200;
 }
 #lorem{
    margin-top: 25px;
    font-size: 16px;
 }
 .jj{
    height:30px  ;
    width : 30px;
    /* border-radius: 30px; */
    /* margin-left: -7px; */
    margin-right: -2px;
 }
 .gg  {
    height:25px  ;
    width : 25px;
    margin-right: 5px;
 }
 .logoo a{
    color: black;
    text-decoration: none;
    display: flex;
    justify-items: center;
    height: 30px;
 }
 #h {
    margin-top: 50px;
 }
 .logoo {
    margin-top: 5px;
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-bottom: 20px;
 }
 .ww {
    margin-top: 5px;
    margin-left: 8px;
 }
 #left{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
 }
 .i {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
 }
.kl {
    height:30px;
    width: 30px;
    border-radius: 15px;
    margin-right: 15px;

 }
 #ju {
    width: 520px;
    height: 350px;
    
 }
 #naz {
 display: flex;
 flex-direction: row;
 align-items: center;
 height: 50px;
 background-color: aliceblue;
 }
.parta,i{ 
   box-shadow: 5px 5px  7px #b2b1af8f ;
   border-radius: 10px;
}
 .oii {
    font-weight: 400;
    font-size: 22px;
  display: flex;
  align-items: center; 
 
}
.qq {
    height: 35px;
    width : 35px;
    padding-bottom: 5px;
    padding-top: 5px;

 
}
.wd {
    display: flex;
    justify-content: space-between ;
    
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}
#naz span {
   font-size: 18px;
}
#kaa{
   display: flex;
    flex-direction: column;
   
}
.clas{
   padding-left: 15px;
   display: flex;
    align-content: center;
}
#jjw {
   display: flex;
   align-content: center;
   color: black;
text-decoration: none;
font-size: 20px;
margin-top: -50px;
}
#qm {
   margin-top: -50px;
}